/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.main-heading {
  font-family: 'Roboto';
  font-size: 40px;
  margin: 10px;
  padding: 10px;
  color: #fff;
}

.heading {
  font-family: 'Roboto';
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.desc {
  font-family: 'Roboto';
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.butn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.accelerate {
  color: #cbd5e1;
  background-color: #0b69ff;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  border: none;
  cursor: pointer;
  outline: none;
}

.brake {
  color: #cbd5e1;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  border-color: #cbd5e1;
  cursor: pointer;
  outline: none;
}
.image {
  width: 400px;
  height: 200px;
}
